# Logging Configuration
RUST_LOG=info
LOG_LEVEL=info

# MQTT Configuration
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_CLIENT_ID=rust_data_ingestion_client
MQTT_TOPIC=drivers_location/#
MQTT_KEEP_ALIVE_SECS=5
MQTT_QOS=1

# Redis Configuration
REDIS_URL=redis://127.0.0.1:6379

# MongoDB Configuration
MONGODB_URI=mongodb://root:examplepassword@127.0.0.1:27017
MONGODB_DATABASE=distributed_gps_route_tracking_system
MONGODB_COLLECTION=trips

# Route Simplification Configuration
ROUTE_TOLERANCE=0.0001 