# MQTT Configuration
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_CLIENT_ID=go_data_ingestion_client
MQTT_TOPIC=drivers_location/#

# Redis Configuration
REDIS_ADDRESS=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0

# MongoDB Configuration
MONGODB_URI=mongodb://root:examplepassword@127.0.0.1:27017
MONGODB_DATABASE=distributed_gps_route_tracking_system
MONGODB_COLLECTION=trips

# Route Simplification Configuration
ROUTE_TOLERANCE=0.0001 